Xcursor.theme: Adwaita
Xcursor.size: 24
Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.rgba: rgb
*.foreground: #f1e6dc
*.background: #090909
*.cursorColor: #fff6ed
*.color0:  #898078
*.color1:  #948b83
*.color2:  #a0978f
*.color3:  #aba29a
*.color4:  #b6ada5
*.color5:  #c2b9b1
*.color6:  #cdc4bc
*.color7:  #e0d7ce
*.color8:  #a9a098
*.color9:  #b4aba3
*.color10:  #c0b7af
*.color11:  #cbc2ba
*.color12:  #d6cdc5
*.color13:  #e2d9d1
*.color14:  #ede4dc
*.color15:  #fff6ed
