Xcursor.theme: Adwaita
Xcursor.size: 24
Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.rgba: rgb
*.foreground: #f3f3f3
*.background: #090909
*.cursorColor: #f3f3f3
*.color0:  #514942
*.color1:  #877e76
*.color2:  #978e86
*.color3:  #aaa198
*.color4:  #7b726b
*.color5:  #8e857d
*.color6:  #9e958d
*.color7:  #e0d7ce
*.color8:  #635b53
*.color9:  #877e76
*.color10:  #978e86
*.color11:  #aaa198
*.color12:  #7b726b
*.color13:  #8e857d
*.color14:  #9e958d
*.color15:  #fcf2e9
