* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "Iosevka Nerd Font Propo";
  font-size: 11pt;
  font-weight: 500;
}

window#waybar {
  background: rgba(27, 25, 23, 0.95);
  color: #f1e6dc;
}

tooltip {
  background: #1b1917;
  color: #b6ada5;
  border: 1px solid #504b47;
}

tooltip label {
  font-family: "Iosevka Nerd Font Mono";
  padding: 10px;
}

#workspaces button {
  background: transparent;
  color: #f1e6dc;
  padding: 0 6px;
  box-shadow: none;
  text-shadow: none;
}

#workspaces button.hidden {
  color: #898078;
}

#workspaces button.urgent {
  color: #aaa19a;
}

#workspaces button.active {
  background: #f1e6dc;
  color: #090909;
}

#custom-title {
  margin: 0 10px;
}

.modules-right > widget > label {
  color: #b6ada5;
  padding: 0 8px;
  border-left: 1px solid #504b47;
}

#custom-dnd {
  border-left: none;
}

#tray {
  padding: 0 6px;
}
