* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "Iosevka Nerd Font Propo";
  font-size: 11pt;
  font-weight: 500;
}

window#waybar {
  background: rgba(27, 25, 23, 0.95);
  color: #f1e6dc;
}

#custom-tag1,
#custom-tag2,
#custom-tag3,
#custom-tag4,
#custom-tag5,
#custom-tag6,
#custom-tag7 {
  padding: 0 6px;
}

.modules-left .empty {
  color: #898078;
}

.modules-left .occupied {
  color: #f1e6dc;
}

.modules-left .urgent {
  color: #aaa19a;
}

.modules-left .active {
  background: #f1e6dc;
  color: #090909;
}

#custom-layout {
  color: #aaa19a;
  margin: 0 10px;
}

#custom-title {
  margin-right: 10px;
}

.modules-right > widget > label {
  color: #b6ada5;
  padding: 0 8px;
  border-left: 1px solid #504b47;
}

#custom-dnd {
  border-left: none;
}

#tray {
  padding: 0 6px;
}
