* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "Iosevka Nerd Font Propo";
  font-size: 11pt;
  font-weight: 500;
}

window#waybar {
  background: rgba(23, 22, 20, 0.95);
  color: #f0eeeb;
}

tooltip {
  background: #171614;
  color: #f0eeeb;
  border: 1px solid #646361;
}

tooltip label {
  font-family: "Iosevka Nerd Font Mono";
  padding: 10px;
}

#workspaces button {
  background: transparent;
  color: #f0eeeb;
  padding: 0 6px;
  box-shadow: none;
  text-shadow: none;
}

#workspaces button.hidden {
  color: #81807d;
}

#workspaces button.urgent {
  color: #d9d7d4;
}

#workspaces button.active {
  background: #acaaa8;
  color: #171614;
}

#custom-title {
  margin: 0 10px;
}

.modules-right > widget > label {
  color: #81807d;
  padding: 0 8px;
  border-left: 1px solid #646361;
}

#custom-dnd {
  border-left: none;
}

#tray {
  padding: 0 6px;
}
